.table-link {
  color: rgb(99, 153, 253);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.table-link:hover {
  cursor: pointer;
  border-bottom: 2px solid #f8af70cf;
  transition: all 0.2s ease-in-out;
}

.table-link-disabled {
  color: rgb(99, 153, 253);
  border-bottom: 2px solid transparent;
}
