<!-- <ng-container *ngIf="dataList$ | async as data"> -->
<div class="table-loading-shade" *ngIf="downloadState$ | async"></div>

<!-- <app-table-loader [loading]="downloadState$ | async"></app-table-loader> -->
<!-- [ngStyle]="{ opacity: (downloadState$ | async) ? tableLoadingOpacity : 1 }" -->

<!-- class="fixed-height-table" -->

<mat-table [dataSource]="dataList$ | async" matSort matSortActive="timestamp" (matSortChange)="orderControl.setValue($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'RECIPES.PAGE.LIST.TABLE.NAME' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-table-link [item]="element" [loading]="downloadState$ | async" (redirect)="redirectToDetail($event)"></app-table-link>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="disableSort">
      {{ 'RECIPES.PAGE.LIST.TABLE.TYPE' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ plateTypeTranslate[element.type] | translate }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'RECIPES.PAGE.LIST.TABLE.PRICE' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.price"> {{ element.price || '-' }} mil</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>
<!-- </ng-container> -->

<app-pagination
  [paginationControl]="paginationControl"
  [sizeControl]="sizeControl"
  [paginationPayload]="paginationPayload$ | async"
  [downloadState]="downloadState$ | async"
></app-pagination>

<!-- <ng-template #loadingTemplate>
  <app-loader></app-loader>
</ng-template> -->
