<div class="py-[5px] h-[5px]">
  <mat-progress-bar *ngIf="downloadState$ | async" mode="indeterminate"></mat-progress-bar>
</div>

<div class="flex justify-between">
  <input class="list-search-field" [formControl]="searchControl" [placeholder]="searchPlaceholder | translate" />
  <button mat-icon-button>
    <mat-icon class="lang-icon">swap_vert</mat-icon>
  </button>
  <button mat-icon-button (click)="showFilter()">
    <mat-icon class="lang-icon">tune</mat-icon>
  </button>
</div>

<mat-tab-group (selectedTabChange)="changePlateCategory($event)">
  <ng-container *ngIf="dataList$ | async as data">
    <mat-tab [label]="(listLabels$ | async)?.all">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.starter">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.main">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.soup">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.salad">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.dessert">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.extra">
      <ng-container *ngTemplateOutlet="data ? menuLayout : null; context: { $implicit: data }"></ng-container>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<ng-template #menuLayout let-context>
  <app-card [data]="context" (add)="add($event)"></app-card>
</ng-template>
