.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}

.layout {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 40px;
  width: calc(100vw - 300px);
  mat-select {
    width: 60px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 5px 10px 5px 0;
  }
}

.size-layout {
  width: 60px;
}
