<div class="relative">
  <div class="table-loading-shade" *ngIf="downloadState$ | async"></div>

  <mat-tab-group (selectedTabChange)="changeUserList($event)">
    <mat-tab [label]="(listLabels$ | async)?.cafe">
      <mat-table [dataSource]="userList$ | async">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="text-overflow">{{ element.email }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="flex justify-center">Status</mat-header-cell>
          <mat-cell *matCellDef="let element" class="flex justify-center">
            <ng-container *ngIf="element as data">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>manage_accounts</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button *ngFor="let status of statusListCafe" mat-menu-item (click)="update('requested', status, element)">
                  {{ status }}
                </button>
              </mat-menu>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.customer">
      <mat-table [dataSource]="userList$ | async">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="text-overflow">{{ element.email }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="flex justify-center">Status</mat-header-cell>
          <mat-cell *matCellDef="let element" class="flex justify-center">
            <ng-container *ngIf="element as data">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>manage_accounts</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button *ngFor="let status of statusListCustomer" mat-menu-item (click)="update('customer', status, element)">
                  {{ status }}
                </button>
              </mat-menu>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
    </mat-tab>
    <mat-tab [label]="(listLabels$ | async)?.blocked">
      <mat-table [dataSource]="userList$ | async">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="text-overflow">{{ element.email }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="flex justify-center">Status</mat-header-cell>
          <mat-cell *matCellDef="let element" class="flex justify-center">
            <ng-container *ngIf="element as data">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>manage_accounts</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button *ngFor="let status of statusListBlocked" mat-menu-item (click)="update('blocked', status, element)">
                  {{ status }}
                </button>
              </mat-menu>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
</div>
