<div style="color: #555; font-size: 1.3em; text-align: start; margin-bottom: 20px; padding: 0 5px">
  Para descargar nuestra aplicación siga los seguentes pasos.
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 1. Abrir Google Chrome </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Abrir la aplicación Google Chrome en tu despositivo movil.</p>
    <div>
      <img [src]="firstImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 2. Encontrar App </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Entra
      <span style="text-decoration: underline">would-you-gto.web.app</span>
      en barra de direcciones del navegador
    </p>
    <div>
      <img [src]="secondImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 3. Elegir botón de opciones </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      En la esquina superior derecha elegir menú desplegable, que abrirá la pestaña de opciones, y haga clic en "Agregar a la
      pantalla principal".
    </p>
    <div>
      <img [src]="thirdImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 4. Agregar el icono </mat-panel-title>
    </mat-expansion-panel-header>
    <p>En nueva ventana confirma instalación para agregar el icono en despositivo.</p>
    <div>
      <img [src]="forthImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 5. Disfruta la ap </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Encuentra la aplicación instalada en la pantalla principal o en el menú con todas aps.</p>
    <div>
      <img [src]="fifthImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>
</mat-accordion>
